@use '../variables.sass'
@use '../mixins.sass'
  
header
  @include mixins.flexCenter
  gap: 10%
  text-transform: uppercase
  border-bottom: 1px solid variables.$primary-color
  box-shadow: 0px 0px 5px 2px variables.$primary-color
  height: 100px