.input-pattern
  display: block
  padding: 10px 15px
  border: none
  border-radius: 30px
  outline: none
  transition: .3s ease
  margin: .5rem 0
  color: #000
  width: 100%

  &:hover
    background-color: #ccc

    
